.abnormal-graph-container {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 40px;
  position: relative; /* ✅ 기준 설정 */
}

.abnormal-section-divider {
  border-top: 2px solid #ddd;
  margin-top: 40px;
  margin-bottom: 30px;
}

.abnormal-section-title {
  font-size: 36px;
  font-weight: 700;
  color: #000;
  text-align: left;
  padding-bottom: 8px;
}

.abnormal-sample-save-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 12px;
}

.sample-count {
  font-size: 20px;
  font-weight: 500;
  color: black;
}

.save-button {
  height: 39px;
  padding: 8px 20px;
  border-radius: 50px;
  border: none;
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
}

.abnormal-graph-box {
  width: 100%;
  height: 600px;
  border: 2px solid #ddd;
  border-radius: 3px;
  background-color: #f9f9f9;
  margin-bottom: 20px;
}

.left-arrow-button-container {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
}

.arrow-button {
  width: 32px;
  height: 32px;
  cursor: pointer;
  z-index: 10;
}
