.ed-container {
  margin: 0 100px 0 100px;
}

.ed-line {
  height: 33px;
  border-bottom: 2px solid #ddd;
}

.ed-head {
  margin-top: 43px;
  margin-bottom: 18px;
  height: 43px;
  display: flex;
  justify-content: space-between;
}

.ed-head-text {
  width: 240px;
  font-size: 36px;
  font-weight: 700;
}

.ed-head-button-nest {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.ed-button-save {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  width: 95px;
  height: 36px;
  border-radius: 50px;
  border: 2px solid #000;
  background: #000;
}

.ed-button-export {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  width: 95px;
  height: 36px;
  border-radius: 50px;
  border: 2px solid #000;
  background: #fff;
}

.ed-item-nest {
  border-radius: 3px 0 0 3px;
  border: 2px solid #ddd;
  padding: 40px 60px;
  margin-bottom: 19px;
}

/* Styles for the container of the data list, which holds all the repeatable items */
.ed-item-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style: none;
}

.ed-data-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ed-data-item-label {
  width: 70px;
  color: #000;
  font-family: "Pretendard Variable";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.ed-data-item-content {
  display: flex;
  flex-direction: row;
  border: 2px solid #ddd;
  border-radius: 3px;
  padding: 20px;
  color: #000;
  font-family: "Pretendard Variable";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.ed-data-label-nest {
  display: inline-flex;
  flex-direction: column;
}

.ed-data-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 87px;
}

.ed-data-divider {
  margin: 0 8px 0 10px;
}

.ed-data-nest {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ed-data-param#row-1 {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.ed-data-param#row-2 {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 20px;
}

.ed-data {
  display: flex;
  justify-content: space-between;
  width: 90px;
}

.ed-data-prediction-button-nest {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ed-data-prediction {
  display: flex;
  flex-direction: row;
}

.ed-data-prediction-status {
  width: 175px;
}

.ed-data-delete-button {
  background-color: #fff;
  color: #000;
  width: 100px;
  height: 32px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 3px;
  border: 1px solid #000;
}
