.home {
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 17px;
  text-align: center;
}

/* 입력 or 파일 첨부 택1 */
.text-input-or-file {
  padding-bottom: 13px;
  color: #c1bebe;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: right;
}

.text-bracket-input-button {
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 33px;
}

/* <입력값> / <파일첨부> */
.text-bracket {
  height: 29px;
  color: #000;
  font-family: "Pretendard Variable";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.home button.input-confirm {
  width: 100px;
  height: 39px;
  padding: 8px 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 50px;
  border: 2px solid #ddd;
  background: #ddd;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

/*큰 상자*/
.input-nest {
  height: 649px;
  display: flex;
  border-radius: 3px;
  border: 2px solid #ddd;
  background: #fff;
  margin-top: 32px;
}

/*큰 상자 분할*/
.input-subnest {
  width: 50%;
  padding: 40px 28px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.input-instance {
  height: 42px;
  padding-right: 6px;
  color: #000;

  /* 24-semibold */
  font-family: "Pretendard Variable";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}

.distortion-variable {
  width: 42px;
  justify-content: normal;
}

#right-subnest input.checkbox {
  border: none;
  background-color: #dddddd;
  border-radius: 3px;
  width: 20px;
  height: 20px;
}

.input_box {
  width: 100%;
  height: 34px;
  background: #fff;
  border: none;
  border-bottom: 1px solid #8a8a8a;
}

/* 왜곡값 입력 라벨 */
.distortion-text {
  font-size: 18px;
  font-weight: 600;
  color: black;
  text-align: left;
}

/* 파일 크기 제한 안내 */
.file-info-text {
  height: 20px;
  margin-top: 14px;
  display: flex;
  justify-content: left;
  align-content: center;
  font-size: 14px;
  color: black;
  font-weight: 500;
}

.upload {
  width: 42px;
  height: 54px;
}

/* 첨부파일... */
.drag-drop-text {
  height: 224px;
  margin-top: 36px;
  margin-bottom: 90px;
  border-radius: 3px;
  border: 2px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 28px;
  font-size: 20px;
  font-weight: 500;
  color: black;
}

.input-confirm-nest {
  width: 100%;
  display: flex;
  justify-content: right;
  margin-top: 28px;
}
