.container {
  width: 100vw;
  height: 100vh;
  background: white;
  font-family: "Pretendard", sans-serif;
}

button {
  border: none;
  padding: 0px;
  background-color: white;
}

button:hover {
  cursor: pointer;
}

.lab-logo-nest {
  text-align: left;
}

.lab-logo {
  width: 314px;
  height: 98px;
}

.main-container {
  margin-left: 90px;
  margin-right: 100px;
  text-align: center;
}

/* 제목 */
.title-main {
  height: 76px;
  font-size: 64px;
  font-weight: 500;
  color: #1639b9;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

/* 그래프 및 데이터 링크*/
.redirection-nest {
  width: 772px;
  height: 24px;
  padding-top: 76px;
  left: 89px;
  display: flex;
  justify-content: space-between;
}

button.redirection {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.text-left-nest {
  text-align: left;
}

/* 입력 or 파일 첨부 택1 */
.text-input-or-file {
  padding-top: 26px;
  color: #c1bebe;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* <입력값> / <파일첨부> */
.text-bracket {
  padding-top: 15px;
  font-size: 20px;
  color: #1639b9;
  font-weight: 500;
}

/*큰 상자*/
.input-nest {
  width: 100%;
  height: 649px;
  display: flex;
  border-radius: 20px;
  border: 1px solid #1639b9;
  background: #fff;
  margin-top: 21px;
}

/*큰 상자 분할*/
.input-subnest {
  width: 50%;
  padding-top: 31px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.input-instance {
  height: 42px;
  margin-right: 118 px;
  font-size: 36px;
  font-weight: 500;
  color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.input-instance#ranging-error {
  font-size: 28px;
  margin-right: 64px;
}

.distortion-variable {
  width: 42px;
  justify-content: normal;
}

CheckBoxToggle {
  width: 26px;
  height: 26px;
}

.input_box {
  width: 321px;
  height: 34px;
  background: #d9d9d9;
  border: none;
}

/* 왜곡값 입력 라벨 */
.text-left-nest#distortion {
  font-size: 20px;
  font-weight: 500;
  color: black;
  padding-left: 31px;
}

/* 파일 첨부 영역 박스 */
.drag-drop-nest {
  width: 100%;
  height: 188px;
  border: 1px solid #1639b9;
  border-radius: 10px;
  background: white;
  margin-top: 101px;
}

/* 파일 크기 제한 안내 */
.file-info-text {
  height: 20px;
  padding: 12px;
  display: flex;
  justify-content: right;
  align-content: center;
  border-bottom: 1px #1639b9 solid;
  font-size: 16px;
  color: black;
  font-weight: 500;
}

.upload {
  width: 42px;
  height: 54px;
}

/* 첨부파일... */
.drag-drop-text {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
  font-weight: 500;
  color: black;
}

/* 체크박스 (선택 옵션들) */
.checkbox {
  width: 26px;
  height: 26px;
  background: white;
  border: 1px solid black;
  left: 774px;
}

.input-confirm-nest {
  width: 100%;
  display: flex;
  justify-content: right;
  margin-top: 28px;
  margin-bottom: 28px;
}

button.input-confirm {
  width: 128px;
  height: 28px;
  border-radius: 20px;
  border: 1px solid #1639b9;
  background: #fff;
  font-size: 18px;
  color: #1639b9;
  font-weight: 500;
}

.contacts-Nest {
  width: 100vw;
  background-color: black;
}

.contacts {
  min-width: 1443px;
  min-height: 132px;
}
